*{
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

header{
  height: 100px;
  background-color: skyblue;
  background-image: url(../img/pattern.png);
  background-repeat: repeat-x;
  background-size: contain;
}

header > img{
  height:90px;
  vertical-align: bottom;
}

h1{
  font-size: xx-large;
}

.color-grey{
  color: grey;
}

.color-booleaner{
  color: skyblue;
  text-decoration: none;
}

.bgcolor-yellow{
  background-color: yellow;
}

thead{
  color: white;
  background-color: rgb(0, 168, 235);
}

.bg-color-blue{
  background-color: skyblue;
}