*{
  /* margin: 0; */
  font-family: 'Times New Roman', Times, serif;
}

header{
  /* height: 100px; */
  background-color: skyblue;
  background-image: url(../img/pattern.png);
  background-repeat: repeat-x;
  background-size: contain;
}

header > img{
  height:50px;
  margin-top: 90px;
}

h1{
  font-size: xx-large;
  margin: 0;
}


.color-grey{
  color: grey;
}

.color-booleaner{
  color: skyblue;
  text-decoration: none;
}

h6{
  margin: 0;
}

.bgcolor-yellow{
  background-color: yellow;
}

table{
  border-collapse: collapse;
  
}


thead{
  color: white;
  background-color: rgb(0, 168, 235);
}

.bg-color-blue{
  background-color: skyblue;
}

.image{
  height: 200px;
  width: 300px;
  color: white;
  font-size: larger;
  font-weight: 800;
  padding: 10px;
  box-sizing: border-box;
}

.images-1{
  background-image: url(../img/monitor.jpg);
}

.images-2{
  background-image: url(../img/graph.jpg);
}